@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined);
@font-face{
    font-family: "hyper";
    src: url(fonts/HyperSuperFast.ttf) format(truetype);
}
@font-face{
    font-family: "socialmc";
    src: url(fonts/Social\ Media\ Circled.ttf) format(truetype);
}
@font-face{
    font-family: "fugaz";
    src: url(fonts/FugazOne-Regular.ttf) format(truetype);
}

:root{
    --color1: #ff4500;
    --color2: coral;  /*laranja-coral*/
    --color3: #b53101;
    --color4: #edf2f2;
    --color5: #4b4b4b;
    --color6: #1f1f1f;
    --color7: #ffff;
    --font-logo: "hyper" , 'Courier New', Courier, monospace, sans-serif ;
    --font-geral: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

*{

    margin: 0px;
    box-sizing: border-box;
}

/*=============config principal==================*/


body{
    font-family: var(--font-geral);
    background-color: #edf2f2;
    height: max-content;
    z-index: 1;
}

/*===============Estilos gerais dos btn==============*/
.c-button{
    border: none;
    border-radius: 5px;
    color: #ffff;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    background-color: var(--color1);
    width: 200px;
    height: 50px;
    margin: 20px auto;
    transition: .5s ease;   

}

.c-button:hover{
   
    background-color: var(--color2);

}

/*===================Estilos do Header======================*/

header#cb-page{
    position: sticky;
    top: 0px;
    background-color: #ffff;
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 20px auto;
    z-index: 2;

}

section#content-header{
    position: relative;
    box-sizing: border-box;
    display: block;
    padding: 20px;
    line-height: 30px;
    height: max-content;
    text-align: left;  
}

/*= Estilos do LOGOTPO=*/

h1#logo{
    display: inline-block;
    box-sizing: border-box;
    left: 30px;
    font-family: var(--font-logo);
    font-size: 4em;
    height: 45px;
    vertical-align: middle;
    margin: 4px;
    margin-right: 10%;


}
a#link-logo{
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    color: var(--color5);
    height: max-content;

     
}

.plus{
    font-size: 1.2em;
    color: #ff4500;
    font-weight: 900;
}

/*= Estilos do MENU=*/

nav#m-menu{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin: 4px auto;

}

ul#m-list{
    display: inline-block;
    box-sizing: border-box;
    margin: 10px 0;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 8px 0px;

}

li.m-list-item{
    display: inline-block;
    box-sizing: border-box;
    margin-right: 18px; 
     
}
/*
.m-list-item::after{
    content: ' ';
    width: 0px;
    height: 4px;
    display: block;
    background-color: var(--color1);
    transition: .5s ease-in;
}
.m-list-item:hover::after{
    width: 100%;
}/**/

li.m-list-item > a{
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--color5);
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px;
    transition:all .3s ease-in-out;


}
.m-list-item:hover a{
    color: var(--color1);
}

/*==Estilo do submenu do menu da pagina===*/

.sub-list-menu{
    display: block;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 104px;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 40px;
    background-color: var(--color7);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 100;
    transition: all .3s ease .15s;
   
  
}
.m-list-item:hover .sub-list-menu{
    opacity: 1;
    visibility: visible;
    
}

ul#submenu-novodestino ul{
    display: inline-block;
    vertical-align: middle;
    height: 300px;
    padding-left: 200px;
    list-style-type: none;
}
ul#submenu-novodestino ul h1{
    margin-bottom: 15px;
    text-transform: uppercase;
    color: var(--color1);
}

ul#submenu-bizga{
    list-style-type: none;
    text-align: center;
}

ul#submenu-bizga li{
    display: inline-block;
    margin: 4px 60px;
}
ul#submenu-bizga a{
    text-transform: uppercase;
    color: var(--color1);
    text-decoration: none;
}

ul#submenu-rotas{
    vertical-align: middle;
    padding-left: 200px;
    list-style-type: none;
}

ul#submenu-rotas li{
    line-height: 28px;
}
ul#submenu-rotas h1{
    margin-bottom: 15px;
    text-transform: uppercase;
    color: var(--color1);
}

ul#submenu-bilheteria ul{
    display: inline-block;
    vertical-align: middle;
    height: 300px;
    padding-left: 200px;
    list-style-type: none;
}
ul#submenu-bilheteria ul h1{
    margin-bottom: 15px;
    text-transform: uppercase;
    color: var(--color1);
}



/*=================Estilos da Section do bunner====================*/

section#bunner{
    position: relative;
    background: black url(img/bunner-main-bizga.jpg) center center no-repeat scroll;
    background-size: cover;
    width: 100%;
    min-width: 300px;
    height: 500px;
    color: #ffff;
    z-index: 1;
  
    
}

div#bunner-info{
    width: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.585);
    text-align: center;
    margin: 0px auto;
    padding: 20px;
}

div#bunner-info h1{
    font-size: 3em;
    font-weight: bolder;
    margin: 100px 0px 10px 0px;
}

div#bunner-info p{
    font-weight: bold;
    width: 60%;
    margin: 30px auto;

}

div#bunner-info button{
    border: none;
    border-radius: 5px;
    color: #ffff;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    background-color: var(--color1);
    width: 200px;
    height: 50px;
    margin-bottom: 50px;
    transition: .5s ease;
    

}

div#bunner-info button:hover{
   
    background-color: var(--color2);

}

/*=============Estilos do nav formularios===================*/

section#sec-list-form{
    position: relative;
    width: 80%;
    height: 350px;
    margin: 20px auto;
    overflow: hidden;
    border-top: 4px solid gray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

#ul-form{
    position: absolute;
    display: table;
    box-sizing: border-box;
    list-style: none;
    height: 55px;
    height: max-content;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    text-align: center;

}

.li-form{
    
    display: table-cell;
    box-sizing: border-box;
    color: var(--color6);
    vertical-align: middle;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    vertical-align: middle;
    
}
.li-form:hover{
    color: var(--color1);
    background-color: var(--color7);   
}
.li-form:focus{
    color: var(--color1);
    background-color: var(--color7);   
}
/*====li span=====*/
.li-form span{
    display: inline-block;
    vertical-align: middle;
}

/*=====*/

/*====icones dos itens de lista do form==*/
span#ico-li01::after{
    font-family: 'Material Symbols Outlined';
    content: "\e905";
    font-size: 1.2em;
    font-weight: 600;
}
span#ico-li02::after{
    font-family: 'Material Symbols Outlined';
    content: "\e539";
    font-size: 1.2em;
    font-weight: 600;
}
span#ico-li03::after{
    font-family: 'Material Symbols Outlined';
    content: "\e834";
    font-size: 1.2em;
    font-weight: 600;
}
/*====*/

/*====classe que formata geral os sub formularios==*/
ul.sub-form{
    position: absolute;
    box-sizing: border-box;
    top: 50px;
    left: 0;
    height: 300px;
    width: 100%;
    list-style: none;
    list-style-type: none;
    color: var(--color5);
    padding: 15px;
    text-align: left;
}
/*====*/

/*===ocultar e revelar ul formularios===*/
ul#sub-form-gerir{
    opacity: 0;
    visibility: hidden;
}
 li#gerir-reservas:focus-within ul{
    visibility: visible;
    opacity: 1;   
}
ul#sub-form-check{
    opacity: 0;
    visibility: hidden;
}

li#check:focus-within ul{
    visibility: visible;
    opacity: 1;
}

/*====*/

/*====Estilos individuais de cada sub formularios===*/

/*==== reservas*/

ul#sub-form-reservas{
    background-color: var(--color7);

}
/*==== gerir reservas*/

ul#sub-form-gerir{
    background-color: var(--color7);
    
}

/*==== check-in*/

ul#sub-form-check{
    background-color: var(--color7);
    
}

/*====*/

/*================Estilos da zona principal===============*/

main{
    text-align: center;
    width: 100%;
    min-width: 300px;
}

/*= Estilos da section header=*/

section#sec-header{
    box-sizing: border-box;
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    line-height: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: var(--color5);
}
section#sec-header h1{
    font-family: "hyper", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
}

select#select-sec-header{
    box-sizing: border-box;
    border: .1px solid var(--color5);
    border-radius: 10px;
    padding: 15px 4px;
    color: var(--color5);
    font-size: 1em;
    width: 200px;
    text-align: center;
    background-color: var(--color4);

}
select#select-sec-header:focus{
    background-color: rgb(255, 244, 240);
    color: var(--color1);
    
}


/*= Estilos das section dos cards=*/

section#sld-card{
    box-sizing: border-box;
    background-color: var(--color7);
    padding: 10px;
    width: 100%;
    min-width: 300px;
}

.sec-main{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 6px;
    margin: 20px;
    min-width: 260px;
    width: 340px;
    height: 400px;
    z-index: 1;
    overflow: hidden;
}

.div-img{
    position: absolute;
    height: 190px;
    width: 100%;
    overflow: hidden;
    transition: all .7s ease-in-out;
}
.div-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
    transition: all .7s ease-in-out;
}
div.div-img:hover img{
    opacity: 1;
    transform: scale(1.1,1.1);
}

.div-sec-txt{
    position: absolute;
    width: inherit;
    text-align: center;
    height: 180px;
    top: 192px;
    padding: 8px;
}

/*========Estilos do slide-bunner===========*/

section.slide-bunner{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-width: 300px;
    height: 500px;
    background-color: var(--color7);
    margin-bottom: 100px;
    overflow: hidden; 
}
section.slide-bunner div#slider{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    text-align: center;

}

div#slider input{
    visibility: hidden;
    
}

section.slide-bunner a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--color7);
    opacity: 1;
    transition: .5s ease-in-out;
    /*animation: slide-zoom-io 3s infinite;*/
}
 img.img-slide{
    width: 100%;

 }

div.slide-bunner-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.585);
    text-align: center;
    margin: 0px auto;
    padding: 20px;
}

div.slide-bunner-info h1{
    font-size: 2.3em;
    font-weight: bolder;
    margin: 100px 0px 10px 0px;
}

div.slide-bunner-info p{
    font-weight: bold;
    width: 60%;
    margin: 30px auto;
}

div#btn-manual{
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
}

.btn-slide{
    box-sizing: border-box;
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    background-color: var(--color4);
    transition: .2s ease-in-out;     
}
.btn-slide:not(last-child){
    margin-left: 20px;
}
.btn-slide:hover, .btn-slide:focus{
    background-color: var(--color1);
    border-radius: 10px;
    padding-right: 20px;
}

input#btn-radio-01:checked ~ a#item-slide03{
    opacity: 1;
}
input#btn-radio-02:checked ~ a#item-slide03{
    opacity: 0;
}
input#btn-radio-03:checked ~ a#item-slide02, input#btn-radio-03:checked ~ a#item-slide03{
    opacity: 0;
}

@keyframes slide-zoom-io{
    0%{
        opacity: 0;

    }
    20%{
        opacity: 1;

    }
    33%{
        opacity: 1;

    }
    53%{
        opacity: 0;

    }
    100%{
        opacity: 0;

    }
}

/*========*/

/*=============FOOTER==============*/


footer#main-footer{
    text-align: center;
    overflow: hidden;
    background-color: var(--color7);
}

/*==Estilos da Div com conteudo principal do footer=*/

div#main-content{
    padding: 10px;
    width: 100%;
}

/*= Estilos das div dentro das section da div main-content=*/

.div-sec-footer{
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 20px;
    padding: 10px;
    min-width: 260px;
    width: 350px;
    height: 400px;
    overflow: hidden;

}
.div-sec-footer h1{
    margin-bottom: 10px;
    color: var(--color1);
}


ul#bizga-list{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

a.link-sec-footer{
    text-decoration: none;
    color: #252525;

}
a.link-sec-footer:hover{
    text-decoration: underline 1px;

}

div#news-grup{
    position: relative;
    display: block;
    box-sizing: border-box;
    border: 0;
    margin: 28px 0px;
    padding: 0;
    width: 320px;
    height: auto;
    border-radius: 6px;

}
div#news-grup:focus{
    outline: auto;

}


input#news-footer{
    position: static;
    display: block;
    box-sizing: border-box;
    float: none;
    color: #555;
    border: 0.8px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    transition: .15s ease-in-out;
    
    
}
input#news-footer:focus{
    outline: 1px solid var(--color1);
    box-shadow: rgba(255, 64, 0, 0.347) 1px 2px 10px;
   
}


button#news-btn{
    position: absolute;
    float: none;
    display: block;
    width: 40px;
    height: 41px;
    background: none;
    border: none;
    margin:auto;
    right: 2px;
    top: 0;
    bottom: 0;
    cursor: pointer;
    
}
span#news-btn-ico{
    position: relative;
    box-sizing: border-box;
    float: none;
    background-color: var(--color1);
    display: inline-block;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    width: 30px;
    line-height: 28px;
    color: #ffffff;
    
    font-weight: bolder;
    transition: .1s ease-in-out;

}
span#news-btn-ico:hover{
    background-color: var(--color2);

}
span#news-btn-ico::before{
    font-family: 'Material Symbols Outlined';
    content: "\e163";
    font-size: 20px;
    font-weight: bolder;
    vertical-align: middle;
}

a.link-sociais{
    box-sizing: border-box;
    float: none;
    background-color: var(--color5);
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
    width: 50px;
    line-height: 50px;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    font-family: "socialmc";
    transition: .1s ease-in-out;

}
a.link-sociais:hover{
    background-color: var(--color1);
}

span#ico-facebook::before{
    content: "\0045";
    font-size: 20px;
    font-weight: bolder;
}

span#ico-insta::before{
    content: "\0051";
    font-size: 20px;
    font-weight: bolder;
}

span#ico-linkdin::before{
    content: "\0043";
    font-size: 20px;
    font-weight: bolder;
}

span#ico-youtube::before{
    content: "\004d";
    font-size: 20px;
    font-weight: bolder;
}



/*============SUB FOOTER============*/


div#sub-footer{
    text-align: center;
    background-color: var(--color1);
    color: #ffff;
    padding: 20px;
}

a.link-footer{
    text-decoration: none;
    color: #ffff;

}
a.link-footer:hover{
    text-decoration: underline 1px;

}

/*============================================================================================================*/